.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);   
    gap: 1rem;                            
    justify-content: center;            
    padding: 1rem;
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

.project-card {
    position: relative; 
    border: 1px solid #00ff00;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.project-title {
    font-size: 1.2em;
    margin: 0 0 8px;
}

.project-description {
    font-size: 0.9em;
    margin: 0 0 16px;
}

.project-link {
    position: absolute;  
    top: 10px;           
    right: 10px;         
    color: #00ff00;     
    font-size: 1.5em;    
}

.project-link:hover {
    color:  #ffffff;
}
